<div class="col-sm-8 col-xs-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="1">Task</th>
                <th>Assigned To</th>
                <th colspan="1">Customer</th>
                <th>Due On</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1">
                    <button class="btn btn-primary" *ngIf="user.admin>0" (click)="openModal()">Add Task</button>
                </td>
                <td colspan="2">
                    <input class="form-control" [(ngModel)]="filterTask">
                </td>
            </tr>
            <tr *ngFor="let task of tasks | filterTasks:filterTask">
                <td><strong class="text-muted">{{(""+task.description).substring(0,30)}}</strong></td>
                <td><i class="text-muted">{{task.user?task.user.name:"**Not Assigned**"}}</i></td>
                <td><i class="text-muted">{{(task.customer)? task.customer.name:"**Not Assigned**"}}</i></td>
                <td><i class="text-muted">{{moment(task.nextDueDate).format("DD-MMMM-YYYY") }}</i></td>
                <td>
                    <button *ngIf="user.admin>0" class="btn btn-default" (click)="openModal(task)">Edit</button>
                    <button *ngIf="user.admin==0" class="btn btn-default" (click)="completeTask(task)">Done</button>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Task</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="container-fluid well well-default" #taskForm="ngForm">
            <div class="form-group">
                <textarea class="form-control" name="description" required [(ngModel)]="currentTask.description" placeholder="Description"></textarea>
            </div>

            <div class="form-group">
                <label>Due On <input type="date" class="form-control" name="dueDate" required [(ngModel)]="currentTask.nextDueDate" placeholder="Task Due On"></label>
            </div>

            <div class="form-group">
                <select class="form-control" name="taskType" required [(ngModel)]="currentTask.type">
                    <option value="undefined" disabled>Select Task Type</option>
                    <option [ngValue]="type.value" *ngFor="let type of taskTypes">{{type.text}}</option>
                </select>
            </div>
            <label>Select User
            <input name="user"
            required
            (typeaheadOnSelect)="currentTask.user = $event.item"
            [(ngModel)]="currentTask.userName"
            placeholder="Assign Task To"
            typeaheadOptionField="name"
            [typeahead]="users"
            class="form-control">
            </label>

            <label>Select Customer
            <input name="customer" 
            required
            (typeaheadOnSelect)="currentTask.customer = $event.item"
            [(ngModel)]="currentTask.customerName"
            placeholder="Select Customer"
            [typeahead]="customers"
            typeaheadOptionField="name_mobile"
            class="form-control">
            </label>


            <div class="form-group">
                <button [disabled]="!taskForm.valid" (click)="createOrUpdateTask(currentTask)" class="btn btn-primary">
                    {{currentTask.id?'Update':'Save'}}
                </button>
                <button [disabled]="!currentTask.id" (click)="deleteTask(currentTask)" class="btn btn-danger">Delete</button>
                <button (click)="modalRef.hide()" class="btn btn-default">Close</button>



            </div>
        </form>
    </div>

</ng-template>



<ng-template #templateCompleteTask>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Task Complete</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <form #completionForm="ngForm" class="modal-body">
        <accordion closeOthers="true">
            <accordion-group heading="Payment Info" isDisabled="true" [isOpen]="openPaneIndex==0">
                <div>
                    <label>Was under AMC ?
                        <input type="checkbox" name="amc" #amc="ngModel" [(ngModel)]="completionInfo.amc" class="form-control">
                    </label>
                </div>
                <div>
                    <label>Amount Payable
                        <input type="number" name="amount" #amount="ngModel" required min="0" [(ngModel)]="completionInfo.amount" class="form-control">
                    </label>
                </div>
                <div>
                    <label>Paid ?
                        <input type="checkbox" name="amountPaid" #amountPaid="ngModel" [(ngModel)]="completionInfo.paid" class="form-control">
                    </label>
                </div>
                <div>
                    <button class="btn btn-default pull-right" [disabled]="!amount.valid" (click)="openPaneIndex = 1">Next</button>
                </div>
            </accordion-group>
            <accordion-group heading="Final Step" isDisabled="true" [isOpen]="openPaneIndex==1">
                <h5 class="well well-default">Verify Details</h5>
                <h4>Description: <strong>{{currentTask.description}}</strong></h4>

                <h4>Customer Info: <strong>{{currentTask.customer.name}}</strong>
                    <div>
                        <i class="text-muted">{{currentTask.customer.address}}</i>
                    </div>
                </h4>
                <h4>
                    {{('Payment
                    due for the task was :₹' + completionInfo.amount + ' and was '+(completionInfo.paid?'paid':'non paid'))}}
                </h4>
                <!-- if task was a project, then ask if it is complete or not?
                if not when is the next visit required? -->
                <div *ngIf="currentTask.type == 3">
                    <hr>
                    <label>Is Project Complete
                        <input type="checkbox"  name="isProjectComplete" [(ngModel)]="completionInfo.completed">
                    </label>
                    <hr>
                    <label *ngIf="!completionInfo.completed">Next Visit Required On
                        <input type="date" class="form-control" name="nextVisitRequiredOn" [(ngModel)]="currentTask.nextDueDate">
                    </label>
                </div>
                <div>
                    <button class="btn btn-success pull-right" (click)="taskCompleted(currentTask,completionInfo)">Finish</button>
                    <button class="btn btn-default pull-right" (click)="openPaneIndex = completionInfo.taskType == 3?1:0">Previous</button>
                </div>
            </accordion-group>
        </accordion>
    </form>
</ng-template>