<form class="container-fluid well well-default" #taskForm="ngForm">

    <div class="form-group">
        <input type="text" class="form-control" name="title" required [(ngModel)]="task.title" placeholder="Title">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="description" required [(ngModel)]="task.description" placeholder="Description"></textarea>
    </div>

    <div class="form-group">
        <label>Starts On <input type="date" class="form-control" name="startDate" required [(ngModel)]="task.startsOn" placeholder="Task Starts On"></label>
    </div>
    <div class="form-group">
        <label>Repeats Every 
            <select class="form-control" [(ngModel)]="task.frequency" name="frequency" >
                <option value="undefined" disabled>Frequency</option> 
                <option [ngValue]="freq.value" *ngFor="let freq of frequencies">{{freq.text}}</option> 
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Completed <input type="checkbox" name="completed" [(ngModel)]="task.completed"></label>
        <label>Payable <input type="checkbox" name="payable" [(ngModel)]="task.payable"></label>
    </div>
    <div class="form-group" *ngIf="task.payable">
        <input type="number" class="form-control" name="amount" [(ngModel)]="task.amount" placeholder="Charges for the task">
    </div>
    <div class="form-group">
        <select class="form-control" name="taskType" [(ngModel)]="task.type">
            <option value="undefined" disabled >Select Task Type</option>
            <option [ngValue]="type.value" *ngFor="let type of taskTypes">{{type.text}}</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" [compareWith]="matchById" [(ngModel)]="task.user" name="assignedUser">
            <option [ngValue]="undefined">Assign Task To</option>
             <option [ngValue]="user" *ngFor="let user of users">{{user.name}}</option> 
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" [compareWith]="matchById" [(ngModel)]="task.customer" name="customer">
            <option [ngValue]="undefined">Select Customer</option>
            <option [ngValue]="customer"  
            *ngFor="let customer of customers">{{customer.name}}</option> 
        </select>
    </div>
    <div class="form-group">
        <button [disabled]="!task.id" (click)="reset()" class="btn btn-default">Reset</button>
        <button [disabled]="!task.id" class="btn btn-danger">Delete</button>
        <button [disabled]="!taskForm.valid" (click)="createOrUpdateTask(task)" class="btn btn-primary">
                {{task.id?'Update':'Save'}}
        </button>

    </div>
</form>