<form class="container-fluid well well-default" #taskForm="ngForm">

    <div class="form-group">
        <input type="text" class="form-control" name="title" required [(ngModel)]="task.title" placeholder="Title">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="description" required [(ngModel)]="task.description" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <input type="date" class="form-control" name="startDate" required [(ngModel)]="task.startsOn" placeholder="Task Starts On">
    </div>
    <div class="form-group">
        <input type="date" class="form-control" name="dueOn" [(ngModel)]="task.dueOn" placeholder="Task Next Due On">
    </div>
    <div class="form-group">
        <input type="date" class="form-control" name="endsOn" [(ngModel)]="task.endsOn" placeholder="Task Ends On">
    </div>
    <div class="form-group">
        <label>Completed <input type="checkbox" name="completed" [(ngModel)]="task.completed"></label>
        <label>Payable <input type="checkbox" name="payable" [(ngModel)]="task.payable"></label>
    </div>
    <div class="form-group" *ngIf="task.payable">
        <input type="number" class="form-control" name="endsOn" [(ngModel)]="task.payable" placeholder="Charges for the task">
    </div>
    <div class="form-group">
        <select class="form-control" name="taskType" [(ngModel)]="task.type">
            <option value="undefined" disabled >Select Task Type</option>
            <option value="0">Complaint</option>
            <option value="1">Query</option>    
            <option value="2">Routine Task</option>
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" [(ngModel)]="task.assignedToId" name="assignedUser">
            <option value="undefined" disabled>Assign Task To</option>
             <option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option> 
        </select>
    </div>
    <div class="form-group">
        <select class="form-control" [(ngModel)]="task.customerId" name="customer">
            <option value="undefined" disabled>Select Customer</option>
             <option value="{{customer.id}}" *ngFor="let customer of customers">{{customer.name}}</option> 
        </select>
    </div>
    <div class="form-group">
        <button [disabled]="!task._id" class="btn btn-danger">Delete</button>
        <button [disabled]="!taskForm.valid" (click)="createOrUpdateTask(task)" class="btn btn-primary">
                {{task._id?'Update':'Save'}}
        </button>

    </div>
</form>