<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-xs-6">Filter By Date</div>
        <div class="col-xs-6">
            <input type="date"
            class="form-control"
            (change)="fetchTasks()"
            [(ngModel)]="dueDate"
            ></div>
        </div>
        <div class="row mb-4">
            <div class="col-xs-6">Task</div>
            <div class="col-xs-2">Assigned To</div>
            <div class="col-xs-2">Customer</div>
            <div class="col-xs-2">Due On</div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" *ngIf="!tasks || tasks.length==0">
                <strong>No Records To Show</strong>
            </div>
        </div>
        <div class="row" *ngFor="let task of tasks | filterTasks:filterTask" [ngClass]="{'bg-success':task.completed}">
            
            <div class="col-xs-6"><strong class="text-muted">{{task.description}}</strong></div>
            <div class="col-xs-2"><i class="text-muted">{{task.user?task.user.name:"**Not Assigned**"}}</i></div>
            <div class="col-xs-2"><i class="text-muted">{{(task.customer)? task.customer.name:"**Not Assigned**"}}</i></div>
            <div class="col-xs-2"><i class="text-muted">{{task.nextDueDate | date:'MMM,dd yyyy' }}</i></div>
            
            
        </div>
    </div>
    