<table class="table table-striped">
    <thead>
        <tr>
            <th>Account</th>
            <th>Opening Balance(OB)</th>
            <th>Group</th>
            <th>Action</th>
        </tr>
        <tr>
            <th colspan="2">
                <input [(ngModel)]="filterAccounts" placeholder="Filter Accounts" class="form-control">
            </th>
            <th>
                <button class="btn btn-primary" (click)="showBlankModal()">Add Account</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of ((accounts) | filterAccounts: filterAccounts)">
            <td>{{account.name}}</td>
            <td>{{account.openingBalance}} {{account.natureOfOB}}</td>
            <!--[ngClass]="{'bg-danger':calculateBalance(account)<0}">{{calculateBalance(account)}}-->
            <td *ngIf="account.group">{{account.group[0].name}}</td>
            <td><input type="button" value="edit" (click)="editAccount(account)" class="btn btn-default"></td>
        </tr>
        <tr>
            <td colspan="4" class="text-center"><button (click)="fetchAccounts()" class="btn btn-default">Load More</button></td>
        </tr>
    </tbody>
</table>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedAccount.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <form #accountForm="ngForm" class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <label>Account Name
                        <input class="form-control" required placeholder="Account Name" name="accountName" [(ngModel)]="selectedAccount.name">
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Group
                        <select class="form-control" name="group" required [(ngModel)]="selectedAccount.groupId" [compareWith]="compareItems">
                            <option [ngValue]="undefined">Select Group</option>
                            <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
                        </select>
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Opening Balance
                        <input class="form-control" name="openingBalance" placeholder="Opening Balance" required min="0" type="number" [(ngModel)]="selectedAccount.openingBalance">
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Nature of Opening Balance
                        <select class="form-control" name="nature" required [(ngModel)]="selectedAccount.natureOfOB">
                            <option [ngValue]="undefined">Select One</option>
                            <option value="dr">Debit</option>
                            <option value="cr">Credit</option>
                        </select>
                    </label>
                </div>
                <!-- Allowed only for users, debtors and creditors -->
                <div *ngIf="debtors_cretitors_users.indexOf(selectedAccount.groupId)>=0" class="col-xs-12">
                    <label>Mobile<input required type="tel" class="form-control" name="mobile" [(ngModel)]="selectedAccount.mobile"></label>
                </div>
                <div *ngIf="debtors_cretitors_users.indexOf(selectedAccount.groupId)>=0" class="col-xs-12">
                    <label>Address<textarea required class="form-control" name="address" [(ngModel)]="selectedAccount.address"></textarea></label>
                </div>
                <div *ngIf="users.indexOf(selectedAccount.groupId)>=0" class="col-xs-12">
                    <label>Is Admin<input type="checkbox" required class="form-control" name="isAdmin" [checked]="selectedAccount.admin == 1" (change)="selectedAccount.admin = $event.target.checked?1:0"></label>
                </div>
                <!-- Allowed Only for users group-->
                <div *ngIf="users.indexOf(selectedAccount.groupId)>=0" class="col-xs-12">
                    <label>Password<input type="text" required class="form-control" name="password" [(ngModel)]="selectedAccount.password"></label>
                </div>

                <div class="col-xs-12">
                    <button class="btn btn-primary" [disabled]="!accountForm.valid" (click)="createUpdateAccount()">{{selectedAccount.id?'Update':'Create'}}</button>
                    <button class="btn btn-danger" [disabled]="!selectedAccount.id" (click)="deleteAccount()">Delete</button>
                    <button class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>