<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-xs-6">
            <input autocomplete="off" [(ngModel)]="filterAccounts" placeholder="Filter Accounts" class="form-control">
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary" (click)="showBlankModal()">Add Account</button>
        </div>
    </div>
    <div class="row  mb-4">
        <div class="col-xs-3">Account</div>
        <div class="col-xs-3">Opening Balance</div>
        <div class="col-xs-3">Group</div>
        <div class="col-xs-3">Action</div>
    </div>
    <div class="row  mb-4" *ngFor="let account of ((accounts) | filterAccounts: filterAccounts)">
        <div class="col-xs-3">{{account.name}}</div>
        <div class="col-xs-3">{{account.openingBalance}} {{account.natureOfOB}}</div>
        <div class="col-xs-3" *ngIf="account.group">{{account.group[0].name}}</div>
        <div class="col-xs-3"><input type="button" value="edit" (click)="editAccount(account)" class="btn btn-default"></div>
    </div>
    <div class="row  mb-4">
        <div class="col-xs-12 text-center">
            <button (click)="fetchAccounts()" class="btn btn-default">Load More</button>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedAccount.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #accountForm="ngForm" class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <label>Account Name
                        <input  autocomplete="off" class="form-control" required placeholder="Account Name" name="accountName" [(ngModel)]="selectedAccount.name">
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Group
                        <select class="form-control" name="group" required [(ngModel)]="selectedAccount.groupId" [compareWith]="compareItems">
                            <option [ngValue]="undefined">Select Group</option>
                            <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
                        </select>
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Opening Balance
                        <input  autocomplete="off" class="form-control" name="openingBalance" placeholder="Opening Balance" required min="0" type="number" [(ngModel)]="selectedAccount.openingBalance">
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Nature of Opening Balance
                        <select class="form-control" name="nature" required [(ngModel)]="selectedAccount.natureOfOB">
                            <option [ngValue]="undefined">Select One</option>
                            <option value="dr">Debit</option>
                            <option value="cr">Credit</option>
                        </select>
                    </label>
                </div>
                <!-- Allowed only for users, debtors and creditors -->
                <div *ngIf="debtors_cretitors_users.indexOf(selectedAccount.groupId)>=0" class="col-xs-12">
                    <label>Mobile<input  autocomplete="off"  required type="tel" class="form-control" name="mobile" [(ngModel)]="selectedAccount.mobile"></label>
                </div>
                <div *ngIf="debtors_cretitors_users.indexOf(selectedAccount.groupId)>=0" class="col-xs-12">
                    <label>Address<textarea required class="form-control" name="address" [(ngModel)]="selectedAccount.address"></textarea></label>
                </div>
                <div *ngIf="users.indexOf(selectedAccount.groupId)>=0" class="col-xs-12">
                    <label>Normal User<input type="radio" [value]="0" [(ngModel)]="selectedAccount.admin"  name="normalUser" checked></label>
                    <label>Admin<input type="radio" [value]="1" [(ngModel)]="selectedAccount.admin" name="admin"></label>
                    <label>Super Admin<input type="radio" [value]="2" [(ngModel)]="selectedAccount.admin" name="superAdmin"></label>
                </div>
                <!-- Allowed Only for users group-->
                <div *ngIf="users.indexOf(selectedAccount.groupId)>=0" class="col-xs-12">
                    <label>Password<input  autocomplete="off"  type="text" required class="form-control" name="password" [(ngModel)]="selectedAccount.password"></label>
                </div>
                
                <div class="col-xs-12">
                    <button class="btn btn-primary" [disabled]="!accountForm.valid" (click)="createUpdateAccount()">{{selectedAccount.id?'Update':'Create'}}</button>
                    <button class="btn btn-danger" [disabled]="!selectedAccount.id" (click)="deleteAccount()"><span *ngIf="timer">{{timer}}</span><span *ngIf="!timer">Delete</span></button>
                    <button class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>