<table class="table table-striped">
    <thead>
        <tr>
            <th>Account</th>
            <th>Opening Balance(OB)</th>
            <th>Nature of OB</th>
            <th>Action</th>
        </tr>
        <tr>
            <th colspan="2">
                <input [(ngModel)]="filterAccounts" placeholder="Filter Accounts" class="form-control">
            </th>
            <th>
                <button class="btn btn-primary" (click)="showBlankModal()">Add Account</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of ((accounts) | filter: 'name' : filterAccounts)">
            <td>{{account.name}}</td>
            <td>{{account.openingBalance}}</td><!--[ngClass]="{'bg-danger':calculateBalance(account)<0}">{{calculateBalance(account)}}-->
            <td>{{account.natureOfOB == 'dr'?'Debit':'Credit'}}</td>
            <td><input type="button" value="edit" (click)="editAccount(account)" class="btn btn-default"></td>
        </tr>
        <tr>
            <td colspan="4" class="text-center"><button (click)="fetchAccounts()" class="btn btn-default">Load More</button></td>
        </tr>
    </tbody>
</table>

<template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedAccount.name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <form #accountForm="ngForm" class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <label>Account Name
                        <input class="form-control" required placeholder="Account Name" name="accountName" [(ngModel)]="selectedAccount.name">
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Group
                        <select class="form-control" name="group" required [(ngModel)]="selectedAccount.groupId" [compareWith]="compareItems">
                            <option [ngValue]="undefined">Select Group</option>
                            <option *ngFor="let group of groups" [ngValue]="group.id">{{group.name}}</option>
                        </select>
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Opening Balance
                        <input class="form-control" name="openingBalance" placeholder="Opening Balance" required min="0" type="number" [(ngModel)]="selectedAccount.openingBalance">
                    </label>
                </div>
                <div class="col-xs-12">
                    <label>Nature of Opening Balance
                        <select class="form-control" name="nature" required [(ngModel)]="selectedAccount.natureOfOB">
                            <option [ngValue]="undefined">Select One</option>
                            <option value="dr">Debit</option>
                            <option value="cr">Credit</option>
                        </select>
                    </label>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-primary" [disabled]="!accountForm.valid" (click)="createUpdateAccount()">{{selectedAccount.id?'Update':'Create'}}</button>
                    <button class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
                </div>
            </div>
        </form>
    </div>
</template>