.menu-overlay{
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 10;
    background: rgba(10,10,10,.3);

}

.menu{
    
    height: 100%;
    background-color: rgb(255, 255, 255);

}

.menu-item{
    padding: 10px;
    border-bottom: thin solid rgba(10,10,10,.3);
}

.menu-item-active{
    color:white;
    background-color: greenyellow;
}