<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <ng-progress></ng-progress>
        </div>
    </div>
    <nav *ngIf="showMenu">
        <input type="checkbox" id="nav" class="hidden" />
        <label for="nav" class="nav-open">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <div class="nav-container">
            <ul class="vr-menu-list">
                <li routerLink="home">
                    <label for="nav">
                        <a>Home</a>
                    </label>
                </li>
                <li *ngIf="userType == 2" routerLink="/accounts" routerLinkActive="active">
                    <label for="nav">
                        <a>Account Masters</a>
                    </label>
                </li>
                <li *ngIf="userType > 0" routerLink="/transactions" routerLinkActive="active">
                    <label for="nav">
                        <a>Journal</a>
                    </label>
                </li>
                <li routerLink="/user-daybook" routerLinkActive="active">
                    <label for="nav">
                        <a>Add Expenditure</a>
                    </label>
                </li>
                <li routerLink="/tasks" routerLinkActive="active">
                    <label for="nav">
                        <a>Tasks</a>
                    </label>
                </li>
                <!-- <li *ngIf="userType > 0" routerLink="/completed-tasks" routerLinkActive="active"><a>Tasks by date</a></li> -->
                <li (click)="logout()">
                    <label for="nav">
                        <a>Logout</a>
                    </label>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>