/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

.pointer{
    cursor: pointer
}
.padding{
    padding:1.5rem;;
}
table tr td,table tr th {
    word-break: break-all;
}

.p-0{
    padding: 0;
}

.p-1{
    padding:0.25rem;
}
.p-2{
    padding:0.5rem;
}
.p-3{
    padding:0.75rem;
}
.p-4{
    padding:1rem;
}

.pl-1{
    padding-left:0.25rem;
}
.pl-2{
    padding-left:0.5rem;
}
.pl-3{
    padding-left:0.75rem;
}
.pl-4{
    padding-left:1rem;
}

.pr-1{
    padding-right:0.25rem;
}
.pr-2{
    padding-right:0.5rem;
}
.pr-3{
    padding-right:0.75rem;
}
.pr-4{
    padding-right:1rem;
}

.pt-1{
    padding-top:0.25rem;
}
.pt-2{
    padding-top:0.5rem;
}
.pt-3{
    padding-top:0.75rem;
}
.pt-4{
    padding-top:1rem;
}

.pb-1{
    padding-bottom: 0.25rem;
}
.pb-2{
    padding-bottom: 0.5rem;
}
.pb-3{
    padding-bottom: 0.75rem;
}
.pb-4{
    padding-bottom: 1rem;
}

.m-0{
    margin: 0;
}

.m-1{
    margin:0.25rem;
}
.m-2{
    margin:0.5rem;
}
.m-3{
    margin:0.75rem;
}
.m-4{
    margin:1rem;
}

.ml-1{
    margin-left:0.25rem;
}
.ml-2{
    margin-left:0.5rem;
}
.ml-3{
    margin-left:0.75rem;
}
.ml-4{
    margin-left:1rem;
}

.mr-1{
    margin-right:0.25rem;
}
.mr-2{
    margin-right:0.5rem;
}
.mr-3{
    margin-right:0.75rem;
}
.mr-4{
    margin-right:1rem;
}

.mt-1{
    margin-top:0.25rem;
}
.mt-2{
    margin-top:0.5rem;
}
.mt-3{
    margin-top:0.75rem;
}
.mt-4{
    margin-top:1rem;
}

.mb-1{
    margin-bottom: 0.25rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}
.mb-3{
    margin-bottom: 0.75rem;
}
.mb-4{
    margin-bottom: 1rem;
}

li{
    list-style: none;
}

/* 
input[type=radio] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
    margin: 10px;
} */

.clearfix{
    clear: both;
}


/* The switch - the box around the slider */
.switch-box{
    display: block;
    line-height: 34px
}

.switch-box label{
    vertical-align: middle;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Fix z-index of options of autocomplete */
.cdk-overlay-container{
    z-index: 9999;
}

.bg-danger{
    background-color: #ce4a4a!important;
}
.txt-white{
    color: #fff;
}
.bg-success{
    background-color: #077b1a!important;
}
.bg-warning{
    background-color: #869403!important;
}
.bg-primary {
    
    background-color: #337ab7!important;
}