<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-xs-12" *ngIf="userType == 2" routerLink="/accounts" routerLinkActive="active">
      <div class="well well-sm">
        <strong>Account Masters</strong>
      </div>
    </div>
    <div class="col-xs-12" *ngIf="userType > 0" routerLink="/transactions" routerLinkActive="active">
      <div class="well well-sm">
        <strong>Journal</strong>
      </div>
    </div>
    <div class="col-xs-12" routerLink="/user-daybook" routerLinkActive="active">
      <div class="well well-sm">
        <strong>Add Expenditure</strong>
      </div>
    </div>
    <div class="col-xs-12" routerLink="/tasks" routerLinkActive="active">
      <div class="well well-sm">
        <strong>Tasks</strong>
      </div>
    </div>
    <!-- <div class="col-xs-12" *ngIf="userType > 0" routerLink="/completed-tasks" routerLinkActive="active">
      <div class="well well-sm">
        <strong>Tasks by date</strong>
      </div>
    </div> -->
    <div class="col-xs-12" (click)="logout()">
      <div class="well well-sm">
        <strong>Logout</strong>
      </div>
    </div>
  </div></div>